# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
errored.tfstate
terraform.tfstate.backup
terraform.txt
.terraform.lock.hcl

# Mac
.DS_Store

# Python
__pycache__/
*.pyc

# Secrets
.env
